.right .flex-item {
  min-width: 170px;
  width: 170px;
  height: 248px;
  position: relative;
  background-color: #fff;
  border-right: solid 1px #c8d0d6;
  border-bottom: 1px solid #c8d0d6;
}
/* .flex-item .content {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
} */
.del-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.input-props {
  margin-top: 30px;
}
.children-prop {
  margin-bottom: 5px;
}
.children-prop .cpt {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 6px;
}