.view {
  width: 1367px;
  background-color: #fff;
  margin: 0 auto;
}
.header {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  display: flex;
}

.container .left {
  width: 410px;
}

.container .left h2{
  margin-bottom: 30px;
}
.container .left .propsselect{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.vertical {
  display: block;
}

.right h2 {
  display: inline-block;
  margin-right: 30px;
}

.right .result {
  display: flex;
  width: 888px;
  height: 700px;
  background-color: #f6e58d;
  border: solid 1px #c8d0d6;
}

